body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #121212;
   /* color: white; */
    background-color: #121212 !important;
    background-image: unset !important;
}

/* Início CSS dos conteúdos */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 600px; */
}

.home img {
    width: 45%;
    height: 100%;
    object-fit: cover;
}

h1 {
    /* text-align: justify; */
    font-size: 3em;
    color: #fdfdfd;
    padding: 40px;
    margin: 0;
    margin-left: 8%;
    margin-bottom: 5%;

}

.Navegação h3{
   margin-top: 9%;
   margin-left: 35%;

}

#casa {
    background-color: #000000;
    /* position: relative; */
}

#area-eng {
    background-color: #121212;
    margin-top: -7%
}

.card h2 {
    margin-bottom: 40px;
    color: #ffffff;
    font-size: 2.5em;
    text-align: center;
}

.card {
    max-width: 50%;
    padding: 20px;
    border-radius: 15px;
    background-color: #121212;
    transform: translate(0,-150px);
    margin-left: 25%;
    margin-top: 10%;
}

.card img {
    width: 40%;
    height: 300px;
    object-fit: cover;
    margin-left: 27%;
}

p {
    text-align: justify;
    color: #ffffff;
    font-size: 1.2em;
    margin-bottom: 20px;

}

.habilidades-b {
    color: #00e846;
    text-align: justify;
}

#formacoes{
    background-color: #121212;

    margin: 0 auto;
    padding: 50px;
    width: 50%;

    text-align: left;

}
header{
    line-height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;

    background-color: #000;
}

header a {
    text-decoration: none;
    font-size: 1.25em;
    margin: 0 16px;
    transition: all 0.2s;
    color: white;
}

header #header-titulo{
    position: absolute;
    left: 16px;
    font-size: 2em;
}

header b {
    color: #00e846;
}
/* 
.curso{
    background-color: #000000;
    
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;

    p{
        padding-top: 5px;
        padding-bottom: 5px;
    }

    a{
        background-color: #00e846;
        color: #000000;
        
        border-radius: 10px;
        padding: 5px;
        margin-left: 80%;

        text-decoration: none;
    }

    a:hover{
        background-color: #096a26;
    } */

/* Footer */
footer {
    background-color: #171717;
}

/* Botão */
.footer-button {
    background-color: #00e846;
    font-size: 1.5em;
    padding: 4px;
    width: 100%;
    cursor: pointer;
    border: none;
}

/* Div pai dos elementos inferiores ao button */
.footer-inferior {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;

}

.footer-inferior .footer-h3{
    font-size: 1.17em;
    font-weight: bold;
    margin: 0;
}

/* Área desenvolvedores */
.desenvolvedores {
    margin: auto;
}



/* Área de fotos */
.footer-equipe-grid {
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 16px;
    column-gap: 16px;
    /* margin-bottom: 60px; */
}

/* Fotos */
.footer-img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

/* Área quem somos */
.quem-somos {
    display: grid;
}

.quem-somos p {
    text-align: center;
    text-align: justify;
}

/* Área navegação */
.footer-lista {
    text-align: center;
    padding-top: 15px;
    padding-left: 35px;
}

.footer-lista li {
    list-style: none;
    margin: 0;
}

.footer-lista li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
}

.footer-lista li a:hover {
    text-decoration: none;
    color: #00e846;
}

@media (max-width: 768px) {
    section {
        display: flex;
        flex-direction: column;
    }

    .footer-inferior {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr;
    }
 
@media (max-width: 768px) {
    header #header-titulo {
        display: none;
    }

    .home img {
        width: 100%;
        height: 100%;
        margin: 0;
        filter: brightness(50%);
    }

    .home h1 {
        font-size: 1.7em;
        color: #fdfdfd;
        margin: 0;
        margin-left: 10%;
        width: 80%;
        position: absolute;
    }
    .main-content {
        flex-direction: column;
        width: 100%;
        padding: 20;
        position: absolute;
        left: 0;
    }
    section {
        display: flex;
        flex-direction: column;
    }

   .card h2 {
        font-size: 1.5em;
        width: 100%;
        
        
    }
    .footer-inferior {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .h3-navegacao{
        margin-top: 5%;
    }

    .h3-quem-somos {
        margin-bottom: 3%;
    }
 
    #area-eng {
        margin-top: 20%;
        margin-right: 10%;
    }

   .card .img2 {
    width: 200px;
    height: 250px;
    margin-left: 0;
    margin-right: 0;
   }
}
