#home{
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

#home img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#home h1 {
    align-content: center;
}

#conteudo{
    transform: translateY(-60px);
    margin: 0 auto;
    max-width: 60%;
    background-color: #121212;
    padding: 80px;
    border-radius: 10px;
}

#conteudo img {
    width: 100%;
}

#conteudo p{
    margin-top: 0;
    color: white;
    font-size: 1.1em;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 40px;
}

h2{
    padding: 30px;
    color: #ffffff;
    text-align: left;
}

h3{
    color: white;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2em;
    font-weight: 400;
}

h4{
    color: white;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.5em;
    font-weight: 400;
}

ul{
    width: 80%;
}

ul li{
    color: #ffffff;
    font-size: 17px;
}

.textos img{
    width: 800px;
    height: auto;
}


@media (max-width: 768px) {
    #home {
        transform: translateY(-50px);
        margin-top: 70px;
    }
    
    #conteudo{
        position: relative;
        top: 0;
        left: 0;
        margin: 0 auto;
        max-width: 80%;
        padding: 30px;
        
    }
    .inicio img{
        height: 100vh;
        width: auto;
        margin-right: 10%;
    }

    .textos img{
        width: 100%;
    }

    .inicio h1{
        color: rgb(255, 255, 255);
        position: absolute;
        font-size: 2em;
        margin-top: 50%;
        margin-left: 0;
        margin-right: -10%;
        width: 80%;
        text-align: center;
        justify-content: center;
    }

    .textos p{
        font-size: 20px;
    }

    .textos ul li{
        font-size: 20px;
    }

    .textos h4{
        font-size: 2em;
    }

    
}
