body {
    background-image: unset !important;
    background-color: #121212 !important;
}

#home{
    background-color: #000;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

#home img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#home h1 {
    align-content: center;
    font-size: 2.5em;
}

#conteudo{
    transform: translateY(-60px);
    margin: 0 auto;
    max-width: 60%;
    background-color: #121212;
    padding: 80px;
    border-radius: 10px;
}

#conteudo img {
    width: 100%;
}

#conteudo p{
    font-size: 1.1em;
    font-weight: 300; 
}

#corpo h3{
    font-size: 2em;
    font-weight: normal;
    text-align: left !important;
    color: #ffffff;
}

h4{
    font-size: 1.5em;
    font-weight: normal;
    color: #ffffff;
}


ul li{
    color: #ffffff;
    font-size: 17px;
}


@media (max-width: 768px) {
    #home {
        transform: translateY(-50px);
        margin-top: 64px;
        display: block;
        position: relative;
    }

    #home h1 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    #home img {
        filter: brightness(50%);
    }
}
