@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #121212;
    color: white;
}

/* Início CSS do cabeçalho */

header {
    line-height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
}

header a {
    text-decoration: none;
    font-size: 1.25em;
    margin: 0 16px;
    transition: all 0.2s;
    color: white;
}

header #header-titulo {
    position: absolute;
    left: 16px;
    font-size: 2em;
}

header b {
    color: #00e846;
}

header a:hover {
    color: #00e846;
}

/* final do cabeçalho */

/* Início CSS do botão modo claro */

button {
    border: none;
    border-radius: 40px;
    padding: 5px;
    background-color: #fff;
    cursor: pointer;
    color: #000000;
}


.modo-claro {
    position: absolute;
    right: 16px;
}

.modo-claro:hover {
    color: #00e846;
}

/*final do botão modo claro */

/* Início conteúdos */

.home {
    display: flex;
    align-items: center;
    height: 600px;
    gap: 20px;
}

.home img {
    width: 600px;
    height: 600px;
    object-fit: cover;
    margin-right: 4%;
    border-radius: 15px;
}

.home h1 {
    font-size: 3em;
    color: #fdfdfd;
    padding: 40px;
    margin: 0;
    margin-left: 3%;
    width: 30%;


}

#casa {
    background-color: #000;
    position: relative;
}

#area-eng {
    background-color: #121212;
    margin-top: -5%
}

.card h2 {
    margin-bottom: 40px;
    color: #ffffff;
    font-size: 2.5em;
    text-align: center;
}

.card {
    max-width: 60%;
    padding: 40px;
    border-radius: 15px;
    background-color: #121212;
    margin-bottom: 300%;
    margin-left: 18%;
    margin: auto;
    transform: translate(0, -10px);
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-top: 10px;
    margin-top: 20px;
}

.card p {
    text-align: justify;
    color: #ffffff;
    font-size: 1.1em;
    margin-bottom: 20px;
    font-weight: 400;

}

.lista {
    display: flex;
    padding: 10px;
}

ul {
    list-style-type: none;
    color: #ffffff;
    font-size: 1.1em;
    margin-bottom: 20px;
    font-weight: 400;
    gap: 5px;
}



/* Fim CSS dos conteúos */


/* Footer */
footer {
    background-color: #171717;
}


/* Div pai dos elementos inferiores ao button */
.footer-inferior {
    display: flex;
    justify-content: space-evenly;
}

/* Área desenvolvedores */
.desenvolvedores {
    margin: auto;
    width: 13%
}


/* Fotos */
.footer-img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

/* Área quem somos */
.quem-somos {
   width: 30%;
   margin-right: 15%;
}

.desenvolvedores h3{
    margin-top: 2%;
}

.quem-somos h3{
    text-align: center;
}

.quem-somos p {
    text-align: center;
    text-align: justify;
    font-size: 15px;
}

.Navegação{
    width: 20%;

}

/* Área navegação */
.footer-lista {
    text-align: left;
    padding-left: 0;
}

.footer-lista li {
    list-style: none;
}

.footer-lista li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
}

.footer-lista li a:hover {
    text-decoration: none;
    color: #00e846;
}




/* --------- Modo Claro -------- */

.light-mode{
    background-image: unset !important;
}

.light-mode .home{
    background-color: #ffffff;
}

.light-mode .home h1{
    color: #000000;
}

.light-mode header{
    background-color: #d3d3d3;
}

.light-mode header b{
    color: #00e846;
}

.light-mode header a{
    color: #000000;
}

.light-mode #area-eng{
    background-color: #e0e0e0;
}

.light-mode .card{
    background-color: #e0e0e0;
}

.light-mode .card h2{
    color: #000000;
}

.light-mode .card p{
    color: #000000;
}

.light-mode .card ul{
    color: #000000;
}

.light-mode footer{
    background-color: #d3d3d3;
    color: #000000;
}   

.light-mode li a{
    color: #000000;
}

.light-mode button{
    background-color: black;
    color: white;
}

/* Responsividade da página */

@media (max-width: 768px) {

    header #header-titulo {
        display: none;
    }

    .home img {
        width: 100%;
        height: 100%;
        margin: 0;
        filter: brightness(50%);
    }

    .home h1 {
        font-size: 2em;
        color: #fdfdfd;
        margin: 0;
        margin-left: 15%;
        width: 50%;
        position: absolute;
    }

    .card {
        margin-left: 10%;
        width: 100%;
    }

    .card h2 {
        font-size: 2em;
    }

    .card p {
        font-size: 1em;
    }

    .card img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-top: 10px;
        margin-top: 20px;
    }

    .card ul {
        font-size: 1em;
    }

    .lista {
       flex-direction: column;
    }   

    section {
        display: flex;
        flex-direction: column;
    }

    .footer-inferior {
        flex-direction: column;
    }

    .quem-somos {
        width: 70%;
        margin-left: 15%;
}

    .Navegação{
        width: 70%;
        margin-left: 38%;
    }

    .desenvolvedores {
        width: 70%;
        margin-left: 30%;
    }

    .footer-equipe-grid{
        align-items: center;
        width: 60%;
    }

    .light-mode .home h1{
        color: #949292;
    }

    .light-mode button{
        background-color: #000;  
        color: white;
        right: 0;
        top: 0;
    }
}
