*{
    padding: 0;
    margin: 0;
}

section h2 {
    color: #00e846;
    margin-bottom: 15px;
    padding-bottom: 30px;
    font-size: 2.5rem;
}

/* Responsividade */
@media (max-width: 768px) {
    #home {
        margin-bottom: 64px;
        height: min-content !important;
    }
    
    #home h1 {
        font-size: 4em !important;
    }

    #home img {
        /* height: 128px !important; */
        display: none;
    }

    section:not(#home) {
        display: flex;
        flex-direction: column;
        margin-bottom: 64px;

        .texto {
            width: auto;
            text-align: center;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .contexto2 {
        flex-direction: column-reverse !important;
    }

    .profession p {
        text-align: center;
    }

    .oq-gosto p {
        text-align: left;
    }
}

#home {
    height: 80vh;
    align-content: center;
}

#home h1 {
    font-size: 6em;
}

#home img {
    height: 1.25em;
    vertical-align: middle;
}

.contexto {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
}

.contexto .texto {
    width: 50%;
    align-content: center;
    text-align: justify;
}

.contexto2 {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
}

.contexto2 .texto {
    width: 50%;
    align-content: center;
    text-align: justify;
}

.contexto3 {
    justify-content: center;
    display: flex;
    font-size: 1.5rem;
}

.contexto3 .texto {
    width: 50%;
    align-content: center;
    text-align: justify;
}

.profession{
    font-size: 1.5em;
    padding: 5% 15%;
    text-align: justify;
}

.imagem img{
    width: 450px;
    height: 450px;
}

/* Início do Carrossel */
#carrossel #slides {
    overflow-y: hidden;
    padding: 16px 0;
    display: flex;
    scroll-behavior: smooth;
    overflow-x: hidden;

    .slide {
        flex-shrink: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Cards de cada slide */
.card {
    margin: 0 35px;
    /* height: min-content; */
    width: 190px;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 15px;
    transition: ease-in-out 0.2s;

    img {
        height: 60px;
        padding-bottom: 20px;
    }

    hr {
        border-color: #00e846;
    }

    p {
        font-size: 17px;
    }
    
    h5 {
        text-align: center;
        margin: 5px 0;
        font-size: 1.25em;
    }
}

h2,h3{
    color: #00e846;
}

.card:hover {
    transform: scale(1.1);
}

/* Navegação do slide */
#carrossel-nav {
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        display: block;
        border-radius: 100%;
        height: 16px;
        width: 16px;
        background-color: #171717;
        margin: 0 8px;
        transition: 0.2s all;
    }
    
    a:hover, a:active {
        background-color: #000;
    }

}

#profissoes {
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    display: none;
}

/* Responsividade do carrossel: esconde o carrossel e mostra as profissoes de maneira crua */
@media (max-width: 768px) {
    #carrossel {
        display: none;
    }

    .card {
        margin: 0;
    }

    #profissoes {
        display: flex;
    }
}
.oq-gosto{
    font-size: 1.5em;
    padding: 5% 15%;
    text-align: justify;
}
