*{
    padding: 0;
    margin: 0;
}

#home {
    height: 80vh;
    padding-left: 32px;
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content min-content;
    gap: 1em;
    align-items: center;
    align-content: center;

    div {
        display: grid;

        p {
            font-size: 6em;
        }
    }

    #id2 {
        justify-items: center;

        img {
            height: 80%;
            width: min-content;
        }
        
    }
}

.contexto{
    height: 100vh;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}


.contexto .texto{
    padding-top: 8%;
    width: 50%;
    text-align: left;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.contexto2{
    height: 80vh;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}


.contexto2 .texto{
    padding-top: 8%;
    width: 50%;
    text-align: left;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.contexto3{
    height: 70vh;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}


.contexto3 .texto{
    padding-top: 8%;
    width: 50%;
    text-align: left;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

#inicio h2{
    font-size: 2.5rem;
    padding-bottom: 30px;
    color: #00e846;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

#inicio p{
    font-size: 1.5rem;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}


.imagem img{
    width: 450px;
    height: 450px;
    bottom: 10%;
}


.oq-gosto{
    height: 30vh;
    font-size: 1.5rem;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin: 15%;
}

.profession{
    height: 1vh;
    font-size: 15px;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin: 15%;
}

span{
    color: #00e846;
}

/* Início do Carrossel */

#carrossel #slides {
    padding: 16px 0;
    display: flex;
    scroll-behavior: smooth;
    overflow-x: hidden;

    .slide {
        flex-shrink: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Cards de cada slide */

.card {
    margin: 0 35px;
    width: 190px;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 15px;

    img {
        margin: 0 auto;
        height: 60px;
        padding-bottom: 20px;
    }

    hr {
       border-color: #00e846;
        width: 100%;
    }

    p {
        margin: 0;
        color: #f2f2f2;
        font-family: "Poppins", serif;
        font-weight: 300;
        font-style: normal;
        font-size: 17px;
    }
    
    h5 {
        text-align: center;
        color: #f2f2f2;
        margin: 5px 0;
        font-size: 1.25em;
        font-family: "Poppins", serif;
        font-weight: 600;
        font-style: normal;
        font-size: 20px;
    }
}

/* Navegação do slide */

#carrossel-nav {
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        display: block;
        border-radius: 100%;
        height: 16px;
        width: 16px;
        background-color: #171717;
        margin: 0 8px;
        transition: 0.2s all;
    }
    
    a:hover, a:active {
        background-color: #000;
    }

}

footer {
    background-color: #171717;
    color: white;

    display: flex;
    flex-direction: column;

}

/* -------------------------- h3---------------------------------- */


.footer-h3 {
    text-align: center;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

/* --------------------------Button---------------------------------- */


.footer-button {
    background-color: #00e846;
    font-size: 1.5em;
    padding: 3px;
    cursor: pointer;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

/* --------------------------Div pai dos elementos inferiores ao button---------------------------------- */


.footer-inferior {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
}

/* --------------------------Área desenvolvedores---------------------------------- */

.footer-equipe-grid {
    width: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 5px;
    padding-left: 25%;
    padding-top: 15px;
}

.footer-img {
    height: 50px;
    width: 50px;
    border-radius: 80px;
}

/* --------------------------Área quem somos--------------------------------- */


.footer-quem-somos {
    display: grid;

}


.footer-quem-somos p {
    text-align: center;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;

}

/* --------------------------Área lista---------------------------------- */


.footer-lista {
    text-align: center;
    padding-top: 15px;

}

.footer-lista li {
    list-style: none;
}

.footer-lista li a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.footer-lista li a:hover {
    text-decoration: none;
    color: #00e846;
}
