header{
    line-height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
}

header a {
    text-decoration: none;
    font-size: 1.25em;
    margin: 0 16px;
    transition: all 0.2s;
    color: #fff;
}

header a:hover{
    color: #00e846;
}

header #header-titulo{
    position: absolute;
    left: 16px;
    font-size: 2em;
}

header b{
    color: #00e846;
}

------------------------footer----------------------------

.footer-h3 {
    text-align: center;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

/* --------------------------Button---------------------------------- */


.footer-button {
    background-color: #00e846;
    font-size: 1.5em;
    padding: 3px;
    cursor: pointer;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    border: none;
    width: 100%;
}

/* --------------------------Div pai dos elementos inferiores ao button---------------------------------- */


.footer-inferior {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
}

.footer-inferior h3{
    color: #fff;
    text-align: center;
}

/* --------------------------Área desenvolvedores---------------------------------- */

.footer-equipe-grid {
    width: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 5px;
    padding-left: 25%;
    padding-top: 15px;
}

.footer-img {
    height: 50px;
    width: 50px;
    border-radius: 80px;
}

/* --------------------------Área quem somos--------------------------------- */

footer{
    background-color: #171717;
}

.footer-quem-somos {
    display: grid;

}


.footer-quem-somos p {
    text-align: center;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;

}

/* --------------------------Área lista---------------------------------- */





.footer-lista {
    text-align: center;
    padding-top: 15px;
    padding-left: 0;

}

.footer-lista li {
    list-style: none;
}

.footer-lista li a {
    text-decoration: none   ;
    color: #fff;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.footer-lista li a:hover {
    text-decoration: none;
    color: #00e846;
}
