@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Import da fonte Poppins */

/* Utilizar fontes de fora. */
@font-face {
    font-family: roboto;
    src: url(fonts/roboto/Roboto-Black.ttf);
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

h1, h2, h3 {
    text-align: center;
    color: #fff;
}

p {
    color: #fff;
}

header{
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 25px;
}

.header-a{
    margin: 15px;
    text-decoration: none;
    color: white;
    font-size: 1.8em;
    padding: 30px;
    top: 15px;
    font-family: Poppins;
}

a:hover{
    color: rgb(175, 175, 175);
}

.header-titulo:hover{
    cursor: pointer;
}

.header-titulo{
    text-decoration: none;
    color: white;
    font-size: 2.5em;
    font-family: Poppins;
    position: absolute;
    left: 20px;
    align-content: center;
    top: 10px;
}

main {
    margin: 32px 0;
}

footer {
    background-color: #171717;
    color: white;

    display: flex;
    flex-direction: column;

}

/* -------------------------- h3---------------------------------- */


.footer-h3 {
    text-align: center;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

/* --------------------------Button---------------------------------- */


.footer-button {
    background-color: #00e846;
    font-size: 1.5em;
    padding: 3px;
    cursor: pointer;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

/* --------------------------Div pai dos elementos inferiores ao button---------------------------------- */


.footer-inferior {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
}

/* --------------------------Área desenvolvedores---------------------------------- */

.footer-equipe-grid {
    width: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 5px;
    padding-left: 25%;
    padding-top: 15px;
}

.footer-img {
    height: 50px;
    width: 50px;
    border-radius: 80px;
}

/* --------------------------Área quem somos--------------------------------- */


.footer-quem-somos {
    display: grid;

}


.footer-quem-somos p {
    text-align: center;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;

}

/* --------------------------Área lista---------------------------------- */


.footer-lista {
    text-align: center;
    padding-top: 15px;

}

.footer-lista li {
    list-style: none;
}

.footer-lista li a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.footer-lista li a:hover {
    text-decoration: none;
    color: #00e846;
}
