/* ------------- NAV --------------*/

/* Utilizar fontes de fora. */
@font-face {
    font-family: roboto;
    src: url(fonts/roboto/Roboto-Black.ttf);
}

/* corpo da pagina */
body{
    background-color: #171717;
}

/* Cabeçalho */
header{
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding-top: 15px;
    padding-bottom: 10px;
    
}

header button {
    position: absolute;
    right: 20px;
    border-radius: 5px;
}

header a{
    margin: 15px;
    text-decoration: none;
    color: white;
    font-size: 2em;
    padding: 20px;
}

header img{
    width: 100px;
}

/* Hover's e Titulo Único */
button:hover{
    cursor: pointer;
    size: 20px;
}

a:hover{
    color: rgb(175, 175, 175);
}

.header-titulo:hover{
    cursor: pointer;
}

.header-titulo{
    font-family: roboto;
}

/* ------------- NAV --------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

main {
    height: min-content;
}

/* Início do Carrossel */
#carrossel #slides {
    padding: 16px 0;
    display: flex;
    scroll-behavior: smooth;
    overflow-x: hidden;

    .slide {
        flex-shrink: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Cards de cada slide */
.card {
    margin: 0 32px;
    height: 278px;
    width: 168px;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 15px;

    img {
        margin: 0 auto;
        height: 48px;
        background-color: red;
    }

    hr {
        background-color: black;
        color: black;
        width: 100%;
    }

    p {
        margin: 0;
        color: #f2f2f2;
    }
    
    h5 {
        color: #f2f2f2;
        margin: 5px 0;
    }
}

/* Navegação do slide */
#carrossel-nav {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        display: block;
        border-radius: 100%;
        height: 16px;
        width: 16px;
        background-color: #171717;
        margin: 0 8px;
        transition: 0.2s all;
    }
    
    a:hover, a:active {
        background-color: #000;
    }
}



/* --------------------------código footer geral---------------------------------- */

footer {
    background-color: #171717;
    color: white;

    display: flex;
    flex-direction: column;

}

/* -------------------------- h3---------------------------------- */


.footer-h3 {
    text-align: center;
}

/* --------------------------Button---------------------------------- */


.footer-button {
    background-color: #00e846;
    font-size: 1.5em;
    padding: 3px;
    cursor: pointer;
}

/* --------------------------Div pai dos elementos inferiores ao button---------------------------------- */


.footer-inferior {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
}

/* --------------------------Área desenvolvedores---------------------------------- */

.footer-equipe-grid {
    width: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 5px;
    padding-left: 25%;
    padding-top: 15px;
}

.footer-img {
    height: 50px;
    width: 50px;
    border-radius: 80px;
}

/* --------------------------Área quem somos--------------------------------- */


.footer-quem-somos {
    display: grid;

}


.footer-quem-somos p {
    text-align: center;

}

/* --------------------------Área lista---------------------------------- */


.footer-lista {
    text-align: center;
    padding-top: 15px;

}

.footer-lista li {
    list-style: none;
}

.footer-lista li a {
    text-decoration: none;
    color: #ffffff;
}

.footer-lista li a:hover {
    text-decoration: none;
    color: #00e846;
}

/* --------------------------Responsividade Mobile---------------------------------- */

@media(max-width: 768px) {
    /* Div pai dos elementos inferiores */
    .footer-inferior{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        row-gap: 30px;
    }

    /* Área quem somos */
    .footer-quem-somos p {
        padding: 0 40px ;
    }
}
