@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Import da fonte Poppins */

body {
    background-color: #000000;
    color: #fff;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-image: url(../imagens/1.jpeg);
    background-size: cover;
    background-position: center;
}

/* Define a cor de todos os elementos textuais */
h1,
h2,
h3,
h4,
p,
a {
    color: #fff;
}

h1,
h2,
h3 {
    text-align: center;
}

a {
    cursor: pointer;
}

b {
    color: #00e846;
    font-weight: normal;
    font-weight: 600;
}

header {
    line-height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
}

header a {
    text-decoration: none;
    font-size: 1.25em;
    margin: 0 16px;
    transition: all 0.2s;
}

header #header-titulo {
    position: absolute;
    left: 16px;
    font-size: 2em;
}

@media (max-width: 768px) {
    header #header-titulo {
        display: none;
    }
}

main {
    margin: 32px 64px;
}

/* Footer */
footer {
    background-color: #171717;
}

/* Botão */
.footer-button {
    background-color: #00e846;
    font-size: 1.5em;
    padding: 4px;
    width: 100%;
    cursor: pointer;
    border: none;
}

/* Div pai dos elementos inferiores ao button */
.footer-inferior {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;

}

.footer-inferior .footer-h3{
    font-size: 1.17em;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

/* Área desenvolvedores */
.desenvolvedores {
    margin: auto;
}



/* Área de fotos */
.footer-equipe-grid {
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 16px;
    column-gap: 16px;
    /* margin-bottom: 60px; */
}

/* Fotos */
.footer-img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

/* Área quem somos */
.quem-somos {
    display: grid;
}

.quem-somos p {
    text-align: center;
    text-align: justify;
}

/* Área navegação */
.footer-lista {
    text-align: center;
    padding-top: 15px;
    padding-left: 35px;
}

.footer-lista li {
    list-style: none;
    margin: 0;
}

.footer-lista li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
}

.footer-lista li a:hover {
    text-decoration: none;
    color: #00e846;
}

@media (max-width: 768px) {
    section {
        display: flex;
        flex-direction: column;
    }

    .footer-inferior {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .footer-inferior h3{
        margin-bottom: 0px;
        
    }

    /* Área de fotos */
    .footer-equipe-grid {
        margin-bottom: 0px;
    }

    /* Fotos */
    .footer-img {
        height: 80px;
        width: 80px;
        border-radius: 100%;
    }

}

/* --------------------------------- Estilo dos (H) ---------------- */

.h2-topico {
    width: 50%;
    background-color: #00e846;
    font-size: 1.5em;
    text-align: center;

    margin-bottom: 0;
}

.h3-subtopico {
    width: 30%;
    background-color: #171717;
    font-size: 1.0em;
    text-align: center;
    margin-top: 0;
}

/* -------------------------------------- Profissao Habilidades -------------------------------- */


#habilidades p {
    margin-left: 20px;
}

.habilidades-b {
    color: #00e846;
}

.habilidades-container {
    display: flex;
    justify-content: space-around;

}


.habilidades-container-item {
    background-color: #171717;
    width: 50%;
    margin: 15px;
}

.habilidades-container-item h4 {
    text-align: center;
}

.habilidades-container-item ul {
    padding: 15px;
    padding-top: 0;
}

.habilidades-container-item ul li {
    color: #fff;
}

/* -------------------------------------- FIM Profissao Habilidades -------------------------------- */

#formacao {

    h2 {
        width: 50%;
        background-color: #00e846;
        margin-bottom: 0;
        font-size: 1.5em;
    }

    .cursos-container {
        h3 {
            width: 30%;
            background-color: #171717;
            margin-top: 0;
            font-size: 1.0em;
        }

        .cursos {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 16px;
        }

        .curso {
            height: 128px;
            margin-bottom: 16px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 16px;
            padding: 0 16px;

            img {
                height: 128px;
                width: 100%;
                object-fit: contain;
            }

            .text {
                text-align: center;

                a {
                    text-decoration: none;

                    background-color: #00e846;
                    color: #000000;
                    transition: 0.2s all;

                    border-radius: 8px;
                    padding: 3px;
                }

                a:hover {
                    background-color: #00b737;
                }
            }
        }
    }
}

/* ------------------------------------------------------------------------------------------------ quem é --------------------------------------------------------------------------------------- */

#quem-e {
    h1 {
        margin-right: 40%;
        background-color: #00e846;
        font-weight: 600;
        font-style: normal;
        width: 60%;
        margin-bottom: 0;
        font-size: 2.5em;
    }

    h2 {
        display: flex;
        flex-direction: column;
        margin-right: 40%;
        background-color: #171717;
        margin-top: 0;
        font-size: 1.5em;
    }

    p {
        font-size: 1.18em;
        margin-bottom: 3%;
        padding: 0 48px;

    }

    .quem {
        width: 30%;
    }

}

/* ------------------------------------------------------------------------------------------------ fim quem é --------------------------------------------------------------------------------------- */


/* -------------- modo claro------------------- */
.light-mode{
    background-image: unset !important;
}

.light-mode header{
    background-color: #d3d3d3;
}

.light-mode header b{
    color: #00e846;
}

.light-mode header a{
    color: #000000;
}

.light-mode #area-eng{
    background-color: #e0e0e0;
}

.light-mode .card{
    background-color: #e0e0e0;
}

.light-mode .card h2{
    color: #000000;
}

.light-mode .card p{
    color: #000000;
}

.light-mode .card h1{
    color: #000000;
}

.light-mode .card ul{
    color: #000000;
}

.light-mode footer{
    background-color: #d3d3d3;
    color: #000000;
}   

.light-mode footer h3{
    color: #000000 !important;
}  

.light-mode footer a{
    color: #000000 !important;
}   
.light-mode footer a:hover{
    color: #00b737 !important;
}   

.light-mode li{
    color: #000000;
}

.light-mode .home{
    background-color: #ffffff;
}

.light-mode .conteudo{
    background-color: #ffffff;
}

.light-mode #corpo{
    background-color: #ffffff;
}

.light-mode #home{
    background-color: #ffffff;
}

.light-mode #corpo{
    background-color: #ffffff;
}

.light-mode .home h1{
    color: #000000;
}

.light-mode{ 
    h1,h2,h3,h4{
        color: #000000 !important; 
    }
}

.light-mode p{
    color: #000000;
}


button {
    border: none;
    border-radius: 10px;
    padding: 5px;
    background-color: #fff;
    cursor: pointer;
    color: #000000;
    position: absolute;
    right: 10px;
}

.light-mode button{
    background-color: black;
    color: white;
}

.light-mode #home .logo-coelho{
    filter: invert(1);
}

.light-mode #nav-profissoes{
    background-color: #dfdddd;
    color: #000000;
}

.light-mode #area-design{
    background-color: #dfdddd;
    color: #000000;
}

.light-mode .profissao{
    background-color: #dfdddd !important;
    color: #000000 !important;
}

.light-mode #conteudo{
    background-color: #ffffff !important;
}

.light-mode #conteudo h3{
    color: #000000 !important;
}

.light-mode #conteudo h4{
    color: #000000 !important;
}

