/* .conceitos{
    background-color: #171717;
    width: 50%; 
}

#quem-e .conceitos p{
    font-size: 1em;
}

.conceitos{
    background-color: #171717;
    justify-content: right;     

    width: 70%; 
    height:200px;
    margin-left: 30%;
    padding-left: 5px;
}

.conceitos .kkk{
    font-size: 10px;
} */